@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Microsoft.Extensions.Options
@using WebApp.Data
@using WebApp.Services
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject IOptions<ReCAPTCHASetting> recaptcha
@section Styles
    {
    <script src='https://www.google.com/recaptcha/api.js'></script>
}
@{
    ViewData["Title"] = "登入";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-4">
        <section>
            <h4>使用外部帳號登入</h4>
            <hr />
            @{
                var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                if (loginProviders.Count != 0)
                {
                    <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in loginProviders)
    {
                            <div><button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="登入你的 @provider.DisplayName 帳號">@provider.Name</button></div>
                            <div><button type="submit" style="padding:0px" class="btn btn-link" name="provider" value="@provider.Name">用 @provider.DisplayName 來註冊新帳號</button></div>
}
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <h4>使用網站帳號登入</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                @if (recaptcha.Value.IsEnable)
                {
                    <div class="g-recaptcha" data-sitekey="@recaptcha.Value.Key"></div>
                }
                
                <div class="form-group">
                    <button type="submit" class="btn btn-default">登入</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-action="ForgotPassword">忘記密碼?</a>
                    </p>
                    <p>
                        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">註冊新帳號</a>
                    </p>
                </div>
            </form>
        </section>
    </div>

</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
